@import '~weather-icons/css/weather-icons.css';

$tan: #D0C49D;
$brown: #B79877;
$blackish: #302C26;
$olive: #868565;
$darkBrown: #87634E;
$whiteish: lighten($tan, 15%);

body {
    margin: 0;
    padding: 5vw;
    box-sizing: border-box;
    background: #000;
    background-image: url('https://f.njbai.rs/dick-goddard.jpg');
    background-position: 60% center;
    background-attachment: fixed;
    background-size: cover;
    color: $whiteish;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    font-family: cooper-black-std, serif;
    font-weight: 600;
    text-shadow:
        0 0 2px $whiteish,
        0 0 2px $whiteish,
        0 .5vw 2px $blackish,
        0 .5vw 2px $blackish,
        0 .5vw 0 $blackish;
}
.status {
    margin: 0;
    padding: 0;
    font-size: 30vw;
    line-height: 1;
    font-weight: normal;
    text-align: left;
}
.notes {
    font-size: 32px;
    font-style: italic;
    font-weight: normal;
    text-align: left;
}
.weather {
    font-size: 24px;
    text-align: left;
}
.loading {
    &:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        animation: ellipsis steps(4,end) 900ms infinite;
        content: "\2026";
        width: 0px;
    }
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@media (min-width: 50em) {
    body {
        background-position: 40% center;
        justify-content: center;
    }
}
@media (min-width: 80em) {
    body {
        background-position: 20% center;
    }
}
@media (min-width: 90em) {
    .status {
        font-size: 25vw;
    }
}
